[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
coverage = "*"
django-environ = "*"
coveralls = "*"
gunicorn = "*"
whitenoise = "*"
django-cors-headers = "*"
django-rest-swagger = "*"

[requires]
python_version = "3.7"
